Django>=3.0.3
django-cors-headers>=3.0.2
django-webpack-loader>=0.6.0
djangorestframework>=3.10.1
gunicorn
IPython
numpy
pandas<1.0.0
pandas_datareader
pyarrow
pytz==2019.1
redis
sqlparse==0.3.0
xlrd
