/*#chart_container{*/
/*    margin-left: -50px;*/
/*}*/

.row[min-width~="1200px"] #chart_container {
    margin-left: -50px;
}

.grid line {
    stroke: #ddd;
}

.grid .domain{
    stroke: #ddd;
}

#chart_container:hover{
    cursor: crosshair;
}

.chart_tooltip{
    opacity: 0.8;
    background: #f3f3f3;

    position: absolute;
    top: 70px;
    left: 80px;
}
