/*#chart_container{*/
/*    margin-left: -50px;*/
/*}*/

.row[min-width~="1200px"] #chart_container {
    margin-left: -50px;
}

.grid line {
    stroke: #ddd;
}

.grid .domain{
    stroke: #ddd;
}

#chart_container:hover{
    cursor: crosshair;
}

.chart_tooltip{
    position: relative;
    opacity: 0.8;
}
