body {
  margin: 2% 5% 5% 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  border: 3px solid lightblue;
  padding: 4px;
  margin-bottom: 1px;
}

.input_ticker{
    flex: 1 1 9rem !important;
}

.input_duration{
    flex: 1 1 9rem !important;
}

.dual_mom_buttons{
    width: 100%;
}

.dual_mom_buttons label{
    padding-right: 4px;
    padding-left: 4px;
}

label {
    cursor: pointer;
/*//    font-size: 0.9rem !important;*/
}

.button_remove{
    float: right;
}

.input-group-text{
    width: 6rem;
}
